src/main/mule/processController.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="processControllerFlow" doc:id="bbbb7e8d-9d00-4793-aace-af65e41cf46f" >
		<http:listener doc:name="HTTP /GET" doc:id="8abf462e-f15a-4391-816f-9d91a1fc7a3c" config-ref="HTTP_Listener_config" path="/wind" allowedMethods="GET">
			<http:error-response >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<choice doc:name="Choice" doc:id="f1be4eec-4d00-4e47-a6f6-f5333a43307f" >
			<when expression="#[attributes.queryParams.cityName != null and attributes.queryParams.unit != null]">
				<flow-ref doc:name="GetWindByCityNameAndUnit" doc:id="990bd04f-0570-4199-a0e0-c1dc5ddbdb73" name="GetWindByCityNameAndUnit"/>
			</when>
			<when expression="#[attributes.queryParams.date != null and attributes.queryParams.cityName != null]">
				<flow-ref doc:name="GetWindByCityNameAndDate" doc:id="6fa66df7-cdcb-4845-bedc-6406a9cfdfb7" name="GetWindByCityNameAndDate"/>
			</when>
			<when expression="#[attributes.queryParams.cityName != null]">
				<flow-ref doc:name="GetWindByCityName" doc:id="8fcffc16-9ea2-4905-85ee-f7bef0bf3a02" name="GetWindByCityName"/>
			</when>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="b66553a7-7fdd-486b-adda-d9b04c6e956d" />
	</flow>
</mule>
