src/main/mule/wind-process-controller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="GetWindByCityNameAndUnit" doc:id="a446a5af-6da3-409a-8c5a-4846d94e5527" >
		<http:request method="GET" doc:name="GET_Wind_Data /GET" doc:id="36a4065f-e135-4ec8-b4fc-23183badfe1c" config-ref="WindRequest_configuration" path="/city/{cityName}/showRecord">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"cityName" : attributes.queryParams.city
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"unit" : attributes.queryParams.unit
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b9bc27b6-831c-4870-8e1e-308941a6854c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Success" ,
	"response" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="343fc53f-1682-4dd4-a502-0a3693175fb9"/>
		
	</flow>
	<flow name="GetWindByCityNameAndDate" doc:id="d9bc34ba-aea1-4de4-bbb1-2ade7eb8af04" >
		<http:request method="GET" doc:name="GET_WindData /GET" doc:id="017cfc9c-ceac-471c-a2bd-9fb5c3574feb" config-ref="WindRequest_configuration" path="/city/{cityName}/{date}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"date" : attributes.queryParams.date,
	"cityName" : attributes.queryParams.city
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="d2dd98ad-b314-4c2a-9fae-5a2de77c7246" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Success",
	"response" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetWindByCityName" doc:id="d04c3514-0e9d-4842-9056-b67d889429e4" >
		<http:request method="GET" doc:name="GET_Wind_Data /GET" doc:id="8129fb87-70a4-47d6-baaa-b9f5b1385177" config-ref="WindRequest_configuration" path="/city/{cityName}/showRecord" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"cityName" : attributes.queryParams.city
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="637ad6d5-2a18-44fd-88ff-e1a7c0805ea3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : "Success" ,
	"response" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fb22b173-b08a-4324-bafd-b1d1d4578a89" />
	</flow>
</mule>
